body {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  /* position:absolute; */
  font-size: 44px;
  float:left;
  clear:none;
  display:inline;
  width: 40%;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform:uppercase;
}

#vis {
}

.active {
  stroke: orange;
}

#text_select {
  float:right;
  margin-top: 10px;
}
